repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args:
          - --markdown-linebreak-ext=md
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: check-case-conflict
      - id: check-merge-conflict

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier

  - repo: https://github.com/ejba/pre-commit-maven
    rev: v0.3.3
    hooks:
      - id: maven
        args: ["clean compile"]
#      - id: maven-checkstyle

#  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
#    rev: v2.7.0
#    hooks:
#      - id: pretty-format-java
#        args: [ --autofix, --indent, '4' ]
#      - id: pretty-format-yaml
#        args: [ --autofix, --indent, '2' ]
